################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/BotQQClient/v15/Server/sqlite3
/src/.vs/BotQQClient/v15
*.dll
/src/BotBackendService/obj/Debug
/src/BotBackendService/bin/Debug
/src/BotQQClient/obj/Debug
/src/BotQQClient.ConsoleDemo/bin/Debug
/src/BotQQClient.ConsoleDemo/obj/Debug
/src/packages/Newtonsoft.Json.6.0.8
/src/packages
/src/BotQQClient/bin/Debug/BotQQClient.pdb
